.bstory {
  width: 100%;
  height: 100%;
}

.bstory .bstory-item {
  width: 100%;
  height: calc(.7rem*2);
  border-bottom: 1px solid #000;
  display: flex;
  margin-top: calc(.1rem*2);
}

.bstory .bstory-item .item-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bstory .bstory-item .item-mid {
  flex: 7;
  line-height: calc(.3rem*2);
}

.bstory .bstory-item .item-mid h4 {
  font-size: calc(.14rem*2);
}

.bstory .bstory-item .item-mid p {
  font-size: calc(.12rem*2);
}

.bstory .bstory-item .item-right {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
}

.bstory .bstory-item .item-right i {
  font-size: calc(.3rem*2);
}
