.listen-box {
  width: 100%;
  height: 100%;
}

.listen-box .listen {
  width: 100%;
  height: calc(.35rem*2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.listen-box .listen a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: calc(.7rem*2);
  height: calc(.35rem*2);
  border: solid 1px crimson;
}

.listen-box .listen a:nth-child(1) {
  border-radius: calc(.08rem*2) 0 0 calc(.05rem*2);
  border-right: none;
}

.listen-box .listen a:nth-child(2) {
  border-radius: 0 calc(.08rem*2) calc(.05rem*2) 0;
  font-weight: bold;
}

.listen-box .listen-content {
  width: 100%;
  height: 100%;
  margin-top: calc(.01rem*2);
}

.listen-box .active {
  background: red !important;
  color: #fff !important;
}
