.rate {
  width: 100%;
}

.rate .top {
  width: 100%;
  height: calc(.8rem*2);
  background: #fff;
  display: flex;
}

.rate .top .top-left {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: calc(.3rem*2);
}

.rate .top .top-left p:nth-child(1) span:nth-child(1) {
  font-size: calc(.2rem*2);
}

.rate .top .top-left p:nth-child(1) span:nth-child(2) {
  font-size: calc(.22rem*2);
  color: #d7423a;
  font-weight: 500;
}

.rate .top .top-left p:nth-child(2) {
  color: #d7423a;
  font-weight: 500;
}

.rate .top .top-right {
  flex: 6;
}

.rate .top .top-right ul {
  width: 100%;
  height: 100%;
  display: flex;
  line-height: calc(.3rem*2);
}

.rate .top .top-right ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

.rate .top .top-right ul li span:nth-child(1) {
  font-size: calc(.23rem*2);
  color: #d7423a;
}

.rate .top .top-right ul li span:nth-child(2) {
  font-size: calc(.15rem*2);
}
