.my {
  width: 100%;
  height: 100%;
  background: #eee;
}

.my .top {
  width: 100%;
  height: calc(.8rem*2);
  background: #fff;
  position: relative;
  top: calc(.35rem*2);
}

.my .top li {
  width: 100%;
  height: calc(.4rem*2);
  line-height: calc(.4rem*2);
  display: flex;
}

.my .top li span:nth-child(1) {
  flex: 9;
  padding-left: calc(.2rem*2);
}

.my .top li span:nth-child(2) {
  flex: 1;
}

.my .mid {
  width: 100%;
  height: calc(.8rem*2);
  background: #fff;
  position: relative;
  top: calc(.7rem*2);
}

.my .mid li {
  width: 100%;
  height: calc(.4rem*2);
  line-height: calc(.4rem*2);
  display: flex;
  padding-left: calc(.2rem*2);
}

.my .bottom {
  width: 100%;
  height: calc(.6rem*2);
  background: #fff;
  position: relative;
  top: calc(1.05rem*2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.my .bottom button {
  width: 90%;
  height: 80%;
  background: red;
  border: none;
  color: #fff;
  border-radius: calc(.07rem*2);
}
